.header_section {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  .profile_setting {
    img {
      margin: 0px 10px;
    }
    img:last-child {
      margin: 0px;
    }
  }
  .mobile_menu {
    display: none;
  }
  .web_menu {
    display: block;
  }
}

@media screen and (max-width: 500px) and (min-width: 200px) {
  .header_section {
    padding: 10px 20px;
    img {
      width: 120px !important;
    }
    .profile_icon {
      background-color: #f5f5f5;
      padding: 10px 12px;
      border-radius: 50%;
    }
  }
  .mobile_menu {
    display: block !important;
  }
  .web_menu {
    display: none !important;
  }
}
