.create_post_container {
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input_post {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
